@using Panacea.Communcation.Management.UI.Models
@model LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Panacea | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/animate.css" rel="stylesheet">
    <link href="~/Content/theme/style.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <style>
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }
    </style>

    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">

</head>

<body class="gray-bg" style="background-image:url(@Url.Content("~/Images/Panacea/splash_backgroung_1920x1080.png"));background-size:cover;">

    @{
        string message;
        if (TempData["PassworResetMessage"] != null)
        {
            message = TempData["PassworResetMessage"].ToString();

        }
        else
        {
            message = "";
        }
    }
    <div style="position: relative;">
        <div style="position: absolute;top:50%;left:50%;transform:translate(-50%, 0%);">
            <div class="middle-box animated fadeInDown text-center" style="max-width:600px;margin-top:200px;">
                <img src="@Url.Content("~/Images/Panacea/Panacea.png")" style="margin-left:auto;margin-right:auto;" />
            </div>
            <div class="middle-box text-center loginscreen animated fadeInDown" style="">
                <div>
                    <br />
                    <p style="color: #EAEAEA;">Please enter your login credentials below</p>
                    @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "m-t", role = "form"}))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new {placeholder = Html.DisplayNameFor(n => n.Email), @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new {placeholder = Html.DisplayNameFor(n => n.Password), @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" style="background-color: #57BF88; border-color: #57BF88;">Login</button>
                        if (!string.IsNullOrEmpty(message))
                        {
                            <p id="PasswordResetMsg" class="lead bg-info">@Html.Encode(message)</p>
                        }
                        <div class="row">
                            <div class="col-md-4 text-left">
                                <p style="color: #35AADD;"><small>@Html.ActionLink("Need help?", "ForgotPassword")</small></p>
                            </div>
                            <div class="col-md-8 text-right">
                                <p style="color: #EAEAEA;"><small>Panacea Software &copy; @DateTime.Now.Year</small></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>