@model Panacea.Communcation.Management.UI.Models.DisplayContactVm
@{
    ViewBag.Title = "DisplayContact";
}

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

<div class="animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="m-b-md">
                                <button class="btn btn-xs btn-primary EditBtn pull-right" type="button" data-url="@Url.Action("EditContact")/@Model.Id"><i class="fa fa-pencil"></i> Edit Info</button>
                                <h2><strong><i class="fa fa-user-o" aria-hidden="true"></i> Contact: @Model.Title @Model.FirstName @Model.LastName</strong></h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl class="dl-horizontal">
                                        <dt>Organisation:</dt>
                                        <dd><a href="@Url.Action("DisplayOrganisation", "Contacts")/@Model.OrganisationId" class="text-navy"> @Model.Organisation</a></dd>
                                        <dt>Job Title:</dt>
                                        <dd>@Model.JobTitle</dd>
                                        <dt>Email:</dt>
                                        <dd>@Model.Email</dd>
                                        <dt>Phone:</dt>
                                        <dd>@Model.Phone</dd>
                                        <dt>Mobile:</dt>
                                        <dd>@Model.Mobile</dd>
                                        <dt>&nbsp;</dt>
                                        <dd>&nbsp;</dd>
                                        <dt>Description:</dt>
                                        <dd>@Model.Description</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-6" id="cluster_info">
                                    <dl class="dl-horizontal">
                                        <dt>Address 1:</dt>
                                        <dd>@Model.Address1</dd>
                                        <dt>Address 2:</dt>
                                        <dd>@Model.Address2</dd>
                                        <dt>Address 3:</dt>
                                        <dd>@Model.Address3</dd>
                                        <dt>County:</dt>
                                        <dd>@Model.County</dd>
                                        <dt>City:</dt>
                                        <dd>@Model.City</dd>
                                        <dt>Postcode:</dt>
                                        <dd>@Model.Postcode</dd>
                                        <dt>Country:</dt>
                                        <dd>@Model.Country</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="map" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Enquiries</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2">Notes</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">Documents</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Summary</th>
                                        <th>Date Added</th>
                                        <th>Deadline</th>
                                        <th>Comments</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                        </td>
                                        <td>
                                            Create project in webapp
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                            </p>
                                        </td>
                                        <td>
                                            Public Service
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                        </td>
                                        <td>
                                            Various versions
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </p>
                                        </td>
                                        <td>
                                            Public Service
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                        </td>
                                        <td>
                                            There are many variations
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                            </p>
                                        </td>
                                        <td>
                                            Environment
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                        </td>
                                        <td>
                                            Latin words
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                Latin words, combined with a handful of model sentence structures
                                            </p>
                                        </td>
                                        <td>
                                            Environment
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                        </td>
                                        <td>
                                            The generated Lorem
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                            </p>
                                        </td>
                                        <td>
                                            Parking
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                        </td>
                                        <td>
                                            The first line
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </p>
                                        </td>
                                        <td>
                                            Hospital
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                        </td>
                                        <td>
                                            The standard chunk
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                            </p>
                                        </td>
                                        <td>
                                            Building regulation
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                        </td>
                                        <td>
                                            Lorem Ipsum is that
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                            </p>
                                        </td>
                                        <td>
                                            Building regulation
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                        </td>
                                        <td>
                                            Contrary to popular
                                        </td>
                                        <td>
                                            12.07.2014 10:10:1
                                        </td>
                                        <td>
                                            14.07.2014 10:16:36
                                        </td>
                                        <td>
                                            <p class="small">
                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                            </p>
                                        </td>
                                        <td>
                                            Pollution
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">

                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/chosen")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRLtk5K58WRt15LHZnB0mFn2qFqPvB98c&callback=initMap" async defer></script>
    <script>
        var map;

        function initMap() {

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': '@Model.Address1, @Model.Postcode' },
            function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    map = new google.maps.Map(document.getElementById('map'),
                    {
                        center: results[0].geometry.location,
                        zoom: 16
                    });

                    // map.setCenter(results[0].geometry.location);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }

        $(document).ready(function () {

            // Click Edit button in Contact List table
            $(document).on('click', '.EditBtn', function () {
                var url = $(this).data('url');

                $.get(url, function (data) {
                    $("body").prepend(data);
                    $('.chosen-select').chosen();
                    $('#modal-EditContact').modal('show');
                });
            });

        });

    </script>
}